<% include ../header %>
<% include ./rzmodals %>
<div class="container" id="rzDesign">
<form id="msform">

  <!-- Step 1: Sequence Selection -->
  <fieldset id="fsSeqSel" style="margin-bottom:40px;">
    <div class="row">
      <h2 class="fs-title"><%=texts.select_sequence_crispr%></h2>
      <h3 class="fs-subtitle"><%=texts.sequence_to_cleave%></h3>
    </div>

    <div class="row">
      <div class="container inline" style="float:left;">

      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5" style="margin-bottom:15px;">
        <p class="substep-description"><%=texts.search_sequence_number%><br/><%=texts.find_your_sequence%> <a target="_blank" href="http://www.ncbi.nlm.nih.gov/genbank/"><%=texts.here%></a></p>
        <input id="accession" name="accessionNumber" placeholder="(<%=texts.example%>: M73307)"/>
        <button id="submit_ACN" class="btn btn-primary" type="button"><%=texts.search%></button>
        <div id="accession_alert" class="alert invisible" style="margin-top:20px;"></div>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
          <div class="bar-separator span2"><span class="emp"><%=texts.or%></div>
      </div>
      <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="span5 tile" id="drop">
          <p class="substep-description"><%=texts.select_file_seq%><br/><%=texts.fasta_format%></p>
          <button class="btn  btn-info" id="selectFileButton" >
          <%=texts.select_file%>
          </button>
          <input type="file" style="visibility:hidden;" id="selectFileInput">
        </div>
      </div>

      </div>
      <div id="sequence-wrap">
        <div id="sequence_alert" class="alert alert-error invisible"></div>
        <textarea id="sequence-display" name="sequence" maxlength="3000" class="input-block-level" rows="10" placeholder="<%=texts.paste_sequence%>..."></textarea>
        <div id="sequence_alert" class="alert invisible"></div>
      </div>

      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".targetenvOption" align="left"><span class="teDrop glyphicon glyphicon-arrow-right"></span>  <%=texts.target_environment%> *</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#targetEnvironmentModal"></i>
      </div>

      <ul class="collapse in targetenvOption divCollapse">
        <li><input type="radio" name="env" value="vivo" id="vivoRadio" checked="true"> <%=texts.in_vivo%> </li>
        <li>
          <div class="form-group">
            <select class="form-control" id="envVivo" name="envVivo">
            <option value="mouse (taxid:10090)" selected="selected"><%=texts.mouse%></option>
            <option value="rat (taxid:10114)"><%=texts.rat%></option>
            <option value="human (taxid:9606)"><%=texts.human%></option>
            <option value="daphnia (taxid:6668)"><%=texts.daphnia%></option>
            <option value="ecoli (taxid:562)"><%=texts.ecoli%></option>
            <option value="yeast (taxid:4932)"><%=texts.yeast%></option>
          </select>
          </div></li>
      </ul>

      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".envpropOption" align="left"><span class="epDrop glyphicon glyphicon-arrow-right"></span> <%=texts.environment_properties%> *</legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#envPropertyModal"></i>
      </div>

      <ul class="envpropOption collapse divCollapse">
        <li>
          <label for="temperature" style="margin-right:60px;"><%=texts.temperature%> *</label>
          <input type="number" name="temperature" value="37" min="0" step="0.1"  style="width:80px; margin-left:-10px;" required> &#8451
        </li>
        <li>
          <label for="naC" style="margin-right:55px; margin-left:15px;">Na&#8314 <%=texts.concentration%> *</label>
          <input type="number" name="naC" value="150" min="0" step="0.1" style="width:80px; margin-left:-12px;" required> mM
        </li>
        <li>
          <label for="mgC" style="margin-right:10px;">Mg<sup>&#8314;2</sup> <%=texts.concentration%></label>
          <input type="number" name="mgC" value="1" min="0" step="0.1" style="width:80px;"> mM
        </li>
        <li>
          <label for="oligoC" style="margin-right:15px;">Oligomer <%=texts.concentration%></label>
          <input type="number" name="oligoC" value="200" min="0" step="0.1" style="width:80px;"> nM
        </li>
      </ul>

      <div class="collapse-container">
      <legend data-toggle="collapse" data-target=".specOption" align="left"><span class="speDrop glyphicon glyphicon-arrow-right"></span>  <%=texts.specificity%></legend><i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#specificityModal"></i>
      </div>

      <ul class="specOption collapse divCollapse">
        <li style="margin-left:-10%;">
          <input type="radio" name="specificity" value="cleavage" id="cleavageRadio" required><%=texts.cleavage_only%>
        </li>
        <li>
          <input type="radio" name="specificity" value="hybrid" id="hybridRadio" required><%=texts.cleavage_hybridization%>
        </li>
        <li>
          <input type="radio" name="specificity" value="notcomputed" id="notcomputedRadio" required><%=texts.not_computed%>
        </li>
      </ul>

    </div>

    <div>
      <div class="organization-input">
        <h4><%=texts.user_agreement%></h4>
        <div class="alert alert-error invisible" id="organization-alert"></div>

          <p>
            <%=texts.bit_more_information%>
          </p>
          <label for="organization"><%=texts.organization%>:</label>
          <input type="text" name="organization" id="organization"  placeholder="(<%=texts.example%>: <%=texts.concordia%>)" required>

          <label for="email"><%=texts.email%>:</label>
          <input type="email" name="email" id="email"  placeholder="(<%=texts.example%>: me@example.org)" required>
          <p>
            <%=texts.by_clicking%> <a target="_blank" href="../license">license.</a>
          </p>

      </div>
    </div>

    <input type="button" name="next" class="btn btn-success btn-large stepNext disabled action-button" value="<%=texts.submit%>" id="crisprSubmit">
  </fieldset>

</div>

<% include ../footer %>
