<% include ../header %>
<% include ./oligomodals %>
<div class="container" id="oligoOrder">
<form id="oligoForm">
  <!-- progressbar -->
  <ul id="oligoProgressbar">
    <li class="active"><%=texts.order_information%></li>
    <li><%=texts.personal_information%></li>
    <li><%=texts.order_review%></li>
    <li><%=texts.order_progress%></li>
  </ul>


  <!-- Step 1: Order Information -->
  <fieldset id="fsOligoOrder" style="margin-bottom:40px;">
    <div class="row">
      <h2 class="fs-title"><%=texts.order_oligo%></h2>
      <h3 class="fs-subtitle"><%=texts.new_customer%> <a href="#"> <%=texts.registration%> </a>.</h3>
    </div>

    <div class="row">
      <h5><%=texts.select_file_oligos%>
      <button class="btn btn-info" id="selectFileOligoButton" >
      <%=texts.select_file%>
      </button>
      <input type="file" style="display:none;" id="selectFileOligoInput">
      </h5>
    </div>

    <div class="row">
      <div class="container">

      <legend data-toggle="collapse" data-target=".regionOption" align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.oligo_sequence%> </legend>
      <i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#oligoSequenceModal"></i>

      <ul class="modification">
          <li>
            <label for="modification5">5' <%=texts.modification%> </label>
            <div class="form-group">

              <select class="form-control" id="promoList" name="modif5" style="width:100%;">
              <option value="none" selected="selected"><%=texts.none%></option>
              <option value="Aminolink">Aminolink</option>
              <option value="Biotin">Biotin</option>
              <option value="Fluorescein-6Fam">Fluorescein-6Fam</option>
              <option value="Fluorescein-Hex">Fluorescein-Hex</option>
              <option value="Fluorescein-Tet">Fluorescein-Tet</option>
              <option value="Phosphorylated">Phosphorylated</option>
              <option value="Tamra">Tamra</option>
              <option value="Others"><%=texts.others%></option>
              </select>
            </div></li>
            <li>

            </li>
            <li>
              <label for="modification3" style="display:inline-block;">3' <%=texts.modification%> </label>
              <div class="form-group">
                <select class="form-control" id="promoList" name="modif3" style="width:100%;">
                  <option value="none" selected="selected"><%=texts.none%></option>
                  <option value="Aminolink">Aminolink</option>
                  <option value="Biotin">Biotin</option>
                  <option value="Fluorescein-6Fam">Fluorescein-6Fam</option>
                  <option value="Fluorescein-Hex">Fluorescein-Hex</option>
                  <option value="Fluorescein-Tet">Fluorescein-Tet</option>
                  <option value="Phosphorylated">Phosphorylated</option>
                  <option value="Tamra">Tamra</option>
                  <option value="Others"><%=texts.others%></option>
                </select>
              </div></li>
        </ul>

        <div id="sequence-wrap">
          <div id="sequence_alert" class="alert alert-error invisible"></div>
          <textarea id="sequence-display" maxlength="3000" class="input-block-level" rows="5" placeholder="<%=texts.paste_sequence%>..." style="width:80%;"></textarea>
          <div id="sequence_alert" class="alert invisible"></div>
        </div>


        <legend data-toggle="collapse" align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.purity%> </legend>
        <i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#oligoPurityModal"></i>

          <div class="form-group purity" align="center">
            <!--<label for="cutsites">Preferred Cut-Sites</label>-->
            <select class="form-control" name="purity" style="width:40%;">
              <option value="Standard" selected="selected" ><%=texts.standard%></option>
              <option value="OPC">OPC</option>
   	          <option value="HPLC">HPLC</option>
   	          <option value="Gel">Gel</option>
   	          <option value="Mixed"><%=texts.mixed%></option>
            </select>
          </div>

          <legend data-toggle="collapse" align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.scale%> </legend>
          <i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#oligoScaleModal"></i>

            <div class="form-group scale" align="center">
              <!--<label for="cutsites">Preferred Cut-Sites</label>-->
              <select class="form-control" name="scale" style="width:40%;">
                <option value="50nM" selected="selected" >50 nM</option>
                <option value="2000nM">2000nM</option>
                <option value="1micro">1 &#181M</option>
                <option value="10micro">10 &#181M</option>
                <option value="Mixed">Mixed</option>
              </select>
            </div>

            <legend align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.date_requirement%> </legend>

              <div class="form-group scale" align="center">
                <!--<label for="cutsites">Preferred Cut-Sites</label>-->
                <select class="form-control" name="datereq" style="width:40%;">
                  <option value="rush" selected="selected" ><%=texts.rush%>!</option>
                  <option value="1or2">1 ~ 2 <%=texts.day%></option>
                  <option value="lessWeek"> < 1 <%=texts.week%></option>
                </select>
              </div>

            <legend align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.optional%> </legend>

            <ul id="optional">
              <li>
                <input type="checkbox" name="optional" value="plates"><%=texts.well_plates%>
              </li>
              <li>
                <input type="checkbox" name="optional" value="resuspended" onchange="handleResuspend(this)"><%=texts.resuspended%>
              </li>
              <li>
                <select class="form-control" name="resuspend" disabled id="resuspendList">
                  <option value="50pM" selected="selected">50 pM/&#181L</option>
                  <option value="100pM">100 pM/&#181L</option>
                  <option value="1micro">1 &#181M/&#181L</option>
                  <option value="other">Other</option>
                </select>
              </li>
            </ul>

      </div>

    </div>
    <input type="button" name="next" class="btn btn-primary btn-large stepNext action-button" value="<%=texts.next%>" id="submit1">
  </fieldset>

  <% include ./personalInfo %>

  <!-- Setp 3: Design Review -->
  <fieldset id="fsOligoReview">
    <h2 class="fs-title"><%=texts.oligo_order_review%></h2>

    <div class="container summary">
      <div>
        <table class="table table-hover table-condensed">
          <thead >
            <th><%=texts.order_criteria%></th>
            <th><%=texts.value%></th>
          </thead>
          <tbody>

            <tr>
              <td><%=texts.oligo_sequence%></td>
              <td id="seqOligo"><%=texts.test_value%></td>
            </tr>

            <tr>
              <td><%=texts.purity%></td>
              <td id="oligoPurity"></td>
            </tr>

            <tr>
              <td><%=texts.scale%></td>
              <td id="oligoScale"></td>
            </tr>

            <tr>
              <td><%=texts.date_requirement%></td>
              <td id="oligoDate"></td>
            </tr>

            <tr>
              <td><%=texts.plates%></td>
              <td id="oligoPlates"></td>
            </tr>

            <tr>
              <td><%=texts.resuspend%></td>
              <td id="oligoResuspended"></td>
            </tr>

            <tr>
              <td>5' <%=texts.modification%></td>
              <td id="oligoModification5"></td>
            </tr>

            <tr>
              <td>3' <%=texts.modification%></td>
              <td id="oligoModification3"></td>
            </tr>

            <tr>
              <td><%=texts.first_name%></td>
              <td id="orderFirstname"></td>
            </tr>

            <tr>
              <td><%=texts.last_name%></td>
              <td id="orderLastname"></td>
            </tr>

            <tr>
              <td><%=texts.email_address%></td>
              <td id="orderEmail"></td>
            </tr>

            <tr>
              <td><%=texts.account_holder%></td>
              <td id="orderAccountHolder"></td>
            </tr>

            <tr>
              <td><%=texts.institution%></td>
              <td id="orderInstitution"></td>
            </tr>

            <tr>
              <td><%=texts.invoice_by%></td>
              <td id="orderInvoice"></td>
            </tr>

            <tr>
              <td><%=texts.P_O_umber%></td>
              <td id="orderPONumber"></td>
            </tr>

          </tbody>
        </table>
      </div>
      <div id="submitAlert2" class="alert alert-danger invisible"></div>
    </div>

  



    <input type="button" name="previous" class="previous action-button" value="<%=texts.previous%>" />
    <input type="button" name="next" class="stepNext action-button" value="<%=texts.submit%>" />
  </fieldset>

  <!-- Step 4: In Process -->
  <fieldset id="fsProcessing">
    <h2 class="fs-title"><%=texts.processing%></h2>
    <h3 class="fs-subtitle"><%=texts.your_request%></h3>

    <input type="submit" name="submit" class="submit action-button" value="<%=texts.close%>" />
  </fieldset>
</form>

</div>

<% include ../footer %>
