<% include ../header %>
<% include ./oligomodals %>
<div class="container" id="oligoOrder">
<form id="oligoForm" method="POST" action="/oligoAddToCart">
  <!-- Step 1: Order Information -->
  <fieldset id="fsOligoOrder" style="margin-bottom:40px;">
    <div class="row">
      <h2 class="fs-title"><%=texts.order_oligo%></h2>
      <% if(username.length == 0){ %>
        <h3 class="fs-subtitle"><%=texts.new_customer%> <a href="/signup"> <%=texts.registration%> </a>.</h3>
      <% }%>
    </div>

    <div class="row">
      <h5><%=texts.select_file_oligos%>
      <button type="button" class="btn btn-info" id="selectFileOligoButton"><%=texts.select_file%></button>
      <input type="file" style="display:none;" id="selectFileOligoInput">
      </h5>
    </div>

    <div class="row">
      <div class="container">

      <legend data-toggle="collapse" data-target=".regionOption" align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.oligo_sequence%> </legend>
      <i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#oligoSequenceModal"></i>

      <ul class="modification">
          <li>
            <label for="modification5">5' <%=texts.modification%> </label>
            <div class="form-group">

              <select class="form-control" id="promoList" name="modif5" style="width:100%;">
              <option value="none" selected="selected"><%=texts.none%></option>
              <option value="Aminolink">Aminolink</option>
              <option value="Biotin">Biotin</option>
              <option value="Fluorescein-6Fam">Fluorescein-6Fam</option>
              <option value="Fluorescein-Hex">Fluorescein-Hex</option>
              <option value="Fluorescein-Tet">Fluorescein-Tet</option>
              <option value="Phosphorylated">Phosphorylated</option>
              <option value="Tamra">Tamra</option>
              <option value="Others"><%=texts.others%></option>
              </select>
            </div></li>
            <li>

            </li>
            <li>
              <label for="modification3" style="display:inline-block;">3' <%=texts.modification%> </label>
              <div class="form-group">
                <select class="form-control" id="promoList" name="modif3" style="width:100%;">
                  <option value="none" selected="selected"><%=texts.none%></option>
                  <option value="Aminolink">Aminolink</option>
                  <option value="Biotin">Biotin</option>
                  <option value="Fluorescein-6Fam">Fluorescein-6Fam</option>
                  <option value="Fluorescein-Hex">Fluorescein-Hex</option>
                  <option value="Fluorescein-Tet">Fluorescein-Tet</option>
                  <option value="Phosphorylated">Phosphorylated</option>
                  <option value="Tamra">Tamra</option>
                  <option value="Others"><%=texts.others%></option>
                </select>
              </div></li>
        </ul>

        <div id="sequence-wrap">
          <div id="sequence_alert" class="alert alert-error invisible"></div>
          <textarea id="sequence-display" name="sequence" maxlength="3000" class="input-block-level" rows="5" placeholder="<%=texts.paste_sequence%>..." style="width:80%;" required></textarea>
          <div id="sequence_alert" class="alert invisible"></div>
        </div>


        <legend data-toggle="collapse" align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.purity%> </legend>
        <i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#oligoPurityModal"></i>

          <div class="form-group purity" align="center">
            <!--<label for="cutsites">Preferred Cut-Sites</label>-->
            <select class="form-control" name="purity" style="width:40%;">
              <option value="Standard" selected="selected" ><%=texts.standard%></option>
   	          <option value="HPLC">HPLC</option>
   	          <option value="Gel">Gel</option>
   	          <option value="Mixed"><%=texts.mixed%></option>
            </select>
          </div>

          <legend data-toggle="collapse" align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.scale%> </legend>
          <i class="glyphicon glyphicon-question-sign pull-right" data-toggle="modal" data-target="#oligoScaleModal"></i>

            <div class="form-group scale" align="center">
              <!--<label for="cutsites">Preferred Cut-Sites</label>-->
              <select class="form-control" name="scale" style="width:40%;">
                <option value="25 nM" selected="selected" >25 nM</option>
                <option value="50 nM">50 nM</option>
                <option value="100 nM">100 nM</option>
                <option value="200 nM">200 nM</option>
                <option value="500 nM">500 nM</option>
                <option value="1 micro">1 &#181M</option>
                <option value="10 micro">10 &#181M</option>
              </select>
            </div>

            <legend align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.date_requirement%> </legend>

              <div class="form-group scale" align="center">
                <!--<label for="cutsites">Preferred Cut-Sites</label>-->
                <select class="form-control" name="datereq" style="width:40%;">
                  <option value="rush" selected="selected" ><%=texts.rush%>!</option>
                  <option value="1or2">1 ~ 2 <%=texts.day%></option>
                  <option value="lessWeek"> < 1 <%=texts.week%></option>
                </select>
              </div>

            <legend align="left"><span class=" glyphicon glyphicon-arrow-right"></span> <%=texts.optional%> </legend>

            <ul id="optional">
              <li>
                <input type="checkbox" name="optional" value="plates"><%=texts.well_plates%>
              </li>
              <li>
                <input type="checkbox" name="optional" value="resuspended" onchange="handleResuspend(this)"><%=texts.resuspended%>
              </li>
              <li>
                <select class="form-control" name="resuspend" disabled id="resuspendList">
                  <option value="50pm" selected="selected">50 p mole/&#181L</option>
                  <option value="100pm">100 p mole/&#181L</option>
                </select>
              </li>
            </ul>
      </div>
    </div>
    <input type="submit" class="btn btn-primary btn-large action-button" value="<%=texts.add_to_cart%>" id="addToCart">
  </fieldset>
</form>
</div>

<% include ../footer %>
