<!-- Modal for Regions for Target Design-->
<div class="modal fade" id="oligoSequenceModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.regular_bases%></h4>
      </div>
      <div class="modal-body">
        <p><%=texts.enter_sequences%></p>
      </div>

      <div class="modal-header">
        <h4 class="modal-title"><%=texts.mixed_bases%></h4>
      </div>
      <div class="modal-body">
        <p><%=texts.mixed_bases_desc%></p>
      </div>

      <div class="modal-header">
        <h4 class="modal-title">Phosphorothioate</h4>
      </div>
      <div class="modal-body">
        <p><%=texts.phosphorothioate_desc%></p>
      </div>

      <div class="modal-header">
        <h4 class="modal-title">5′ or 3′ <%=texts.modification%></h4>
      </div>
      <div class="modal-body">
        <p><%=texts.modification_desc%></p>
      </div>

      <div class="modal-header">
        <h4 class="modal-title"><%=texts.length%></h4>
      </div>
      <div class="modal-body">
        <p><%=texts.length_desc%></p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Regions for Purity-->
<div class="modal fade" id="oligoPurityModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.purity%></h4>

      </div>
      <div class="modal-body">
        <p><%=texts.purity_desc%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Regions for Scale -->
<div class="modal fade" id="oligoScaleModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.scale%></h4>

      </div>
      <div class="modal-body">
        <p><%=texts.scale_desc%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>
