<!-- Modal for Regions for Target Design-->
<div class="modal fade" id="regionTargetModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.regions_target_design%></h4>

      </div>
      <div class="modal-body">
        <p><%=texts.select_what_part%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>


<!-- Modal for Target Environment-->
<div class="modal fade" id="targetEnvironmentModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.target_environment%></h4>

      </div>
      <div class="modal-body">
        <%if (title != "design_crispr") { %>
        <p><%=texts.select_what_environment%></p>
        <% } else { %>
        <p><%=texts.select_what_environment_crispr%></p>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Environment Properties-->
<div class="modal fade" id="envPropertyModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.environment_properties%></h4>

      </div>
      <div class="modal-body">
        <%if (title != "design_crispr") { %>
        <p><%=texts.provide_details%></p>
        <% } else { %>
        <p><%=texts.provide_details_crispr%></p>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>


<!-- Modal for Potential Cut-sites -->
<div class="modal fade" id="potentialCutSitesModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.potential_cut_sites%></h4>

      </div>
      <div class="modal-body">
        <p><%=texts.select_cut_sites%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Regions for Ribozyme Shape-->
<div class="modal fade" id="rzShapeModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.ribozyme_shape%></h4>

      </div>
      <div class="modal-body">
        <p><%=texts.choose_catalytic%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Arms Length-->
<div class="modal fade" id="armsLengthModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.arms%></h4>

      </div>
      <div class="modal-body">
        <p><%=texts.parameters_length_helices%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Promoter-->
<div class="modal fade" id="promoterModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.promoter%></h4>

      </div>
      <div class="modal-body">
        <p><%=texts.promoter_desc%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>

<!-- Modal for Specificity-->
<div class="modal fade" id="specificityModal" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"><%=texts.specificity%></h4>

      </div>
      <div class="modal-body">
        <p><%=texts.specificity_desc%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default action-button" name="button" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div>

  </div>
</div>
