<!-- Gene Silencing -->
<div class="col-lg-4" style="width:50%;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="glyphicon glyphicon-scissors"></i><%=texts.gene_silencing%> - <%=texts.crispr_cas9%></h4>
    </div>
    <div class="panel-body">
      <p>
        <%=texts.crispr_cas9%> <%=texts.will_help_you%>
      </p>
      <a href="/crispr" class="btn btn-default pull-right" id="crispr"><%=texts.gene_silencing%> >></a>
    </div>
  </div>
</div>
<div class="col-lg-4" style="width:50%;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4><i class="glyphicon glyphicon-scissors"></i>  <%=texts.gene_silencing%> - <%=texts.ribozyme%></h4>
    </div>
    <div class="panel-body">
      <p>
        <%=texts.ribozyme%> <%=texts.will_help_you%>
      </p><br>
      <select class="form-control" id="rz-select">
        <option value="">--<%=texts.select_ribozyme%>--</option>
        <% ribozymeList.forEach(function(ribozyme, index) { %>
          <option value="<%= ribozyme['name'] %>-<%= ribozyme['type'] %>"><%= ribozyme['title'] %></option>
        <% }); %>
      </select>
    </div>
  </div>
</div>
</div>
</div>
