<% include header %>
<div class="container" id="oligoOrder">
<div id="oligoForm" style="margin:10% 0 5% 0%;">
    <h2 class="fs-title"><%=texts.about_us%></h2>
      <div class="span3 copyright">
        <p><%=texts.only_copyright%> Dr. Nawwaf Kharma<br>
          PhD (London), PEng (Ontario)<br>
          <%=texts.associate_professor%><br>
          <%=texts.department%></p>
        <p><%=texts.report%> <a href="mailto:ribosoft.contact@gmail.com">ribosoft.contact@gmail.com</a></p>
      </div>
    <input type="button" id="closeConfirmation" style="width:auto;" class="submit action-button" value="<%=texts.home%>" />
</div>
</div>
<% include footer %>