<!-- Modal for Signing in-->
<form id="loginForm" method="POST" action="/login">
<div class="modal fade bd-example-modal-sm" id="signInModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%=texts.sign_in%></h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="usr"><%=texts.username%>:</label>
          <input type="text" class="form-control" name="username" id="username" required>
        </div>
        <div class="form-group">
          <label for="pwd"><%=texts.password%>:</label>
          <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <div>
            <span><%=texts.not_registered%></span>
        </div>
        <div>
            <span><a href="/signup"><%=texts.registration%></a></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=texts.close%></button>
        <button type="submit" class="btn btn-primary"><%=texts.sign_in%></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>

<!-- Modal to Ask to sign in -->
<div class="modal fade bd-example-modal-sm" id="welcomeSignInModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><%=texts.welcome%><%=texts.to_biocorp%></h4>
      </div>
      <div class="modal-body">
        <p><%=texts.please_signin%></p>
      </div>
      <div class="modal-footer">
        <label><input type="checkbox" name="welcome_dismiss" style="margin-right: 5px;"><%=texts.do_not_show_again%></br></label>
        <button type="button" class="btn btn-default" data-dismiss="modal"><%=texts.close%></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->