<% for (var i = 0; i < order.length; i++){ %>
    <div class="container summary">
    <div style="text-align: right;">
    <form class="removeItemForm" method="POST" action="/removeOrderItem">
    <input type="hidden" name="removeOrderItem" value="<%=i%>"/>
    <button type="submit" class="btn btn-info btn-xs" id="removeOrderItem"><%=texts.remove%></button>
    </form>
    <% if(order[i].orderType == "oligo"){ %>
    <table class="table table-hover table-condensed">
        <thead>
        <th>5' <%=texts.modification%></th>
        <th>3' <%=texts.modification%></th>
        <th><%=texts.purity%></th>
        <th><%=texts.scale%></th>
        <th><%=texts.date_requirement%></th>
        <th><%=texts.optional%></th>
        </thead>
        <tbody>
        <tr>
            <td><%=order[i].modif5%></td>
            <td><%=order[i].modif3%></td>
            <td><%=order[i].purity%></td>
            <td><%=order[i].scale%></td>
            <td><%=texts[order[i].datereq]%></td>
            <td><%=texts[order[i].optional] + " " + order[i].resuspend%></td>
        </tr>
        <tr>
            <th><%=texts.sequence%></th>
            <td colspan="5"><%=order[i].sequence%></td>
        </tr>
        </tbody>
    </table>
    <% } else if(order[i].orderType == "bulkOligo"){ %>
    <table class="table table-hover table-condensed">
        <thead>
        <% for (key in order[i].orderList[0]){ %>
        <th><%=key%></th>
        <% } %>
        </thead>
        <tbody>
        <% for (var j = 0; j < order[i].orderList.length; j++){ %>
        <tr>
            <% for (key in order[i].orderList[j]){ %>
            <td><%=order[i].orderList[j][key]%></td>
            <% } %>
        </tr>
        <% } %>
        </tbody>
    </table>
    <% } else if(order[i].orderType == "ribozymeDesignOligo"){ %>
    <table class="table table-hover table-condensed">
        <thead>
        <th><%=texts.cut_site_number%><br/>( <%=texts.position%> )</th>
        <th><%=texts.melting%><br/><%=texts.temperature%> (&deg;C)</th>
        <th><%=texts.accessibility%> 1</th>
        <th><%=texts.accessibility%> 2</th>
        <th><%=texts.ribozyme%><br/><%=texts.shape_quality%></th>
        <th><%=texts.weighted%><br/><%=texts.off_target_hits%></th>
        </thead>
        <tbody>
            <td><%=order[i].orderItem.cutsiteID%>( <%=order[i].orderItem.cutsiteLocation%> )</td>
            <td><%=order[i].orderItem.MeltingTemperatureList%></td>
            <td><%=order[i].orderItem.Fitness_Target%></td>
            <td><%=order[i].orderItem.Fitness_Target_dG%></td>
            <td><%=order[i].orderItem.Fitness_Shape%></td>
            <td><%=order[i].orderItem.Fitness_Specificity%></td>
            <tr>
                <% if(order[i].orderItem.prime5Enzyme['name'].length > 0){%>
                <th colspan="1">5' <%=texts.restriction_enzyme%></th>
                <td colspan="1">
                    <%=order[i].orderItem.prime5Enzyme['name']%> (<%=order[i].orderItem.prime5Enzyme['seq']%>)
                </td>
                <%}%>
                <% if(order[i].orderItem.prime3Enzyme['name'].length > 0){%>
                <th colspan="1">3' <%=texts.restriction_enzyme%></th>
                <td colspan="3">
                    <%=order[i].orderItem.prime3Enzyme['name']%> (<%=order[i].orderItem.prime5Enzyme['seq']%>)
                </td>
                <%}%>
            </tr>
            <% if(order[i].orderItem.primer.length > 0){%>
            <tr>
                <th colspan="1"><%=texts.primer%></th>
                <td colspan="5"><%=order[i].orderItem.primer%></td>
            </tr>
            <%}%>
        </tbody>
    </table>
<% } %>
</div>
</div>
<% } %>