<% include header %>

<div class="container" id="inProcessPage">

  <h3 class="step-title"><%= texts[pageTitle]%></h3>
  <p class="step-description"><%=texts.your_request%></p>
  <div class="step-contents center">
  <div id="processingAlert" class="alert alert-error invisible"></div>
  <div class="jumbotron">
    <h5><%=texts.estimated_time%>: <span id="timeLeft"></span></h5>
    <div class="progress progress-striped active">
      <div class="bar"></div>
    </div>
  </div>
  <div class="emailInvite container">
    <div class="form-signin" id="confirmation-email">
      <h2 class="form-signin-heading"><%=texts.email_saved%></h2>
      <p><%=texts.close_the_tab%></p>
    </div>
    <div class="form-signin resultsButton invisible" id="results-ready">
      <h2><%=texts.results_ready%>!</h2>
      <input type="submit" id="submit4" class="btn btn-large btn-success" value="<%=texts.see_results%>"/>
    </div>

  </div>
  </div>

</div>

<% include footer %>
