  <div class="step-container container">
    <h3 class="step-title"><%= texts[stepTitle] %></h3>
    <h4><%=texts.design_summary%></h4><br/>
    <div>
      <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th><%=texts.design_options%></th>
          <th><%=texts.value%></th>
        </tr>
      </thead>
      <tbody>
	<% if(input.accessionNumber) { %>
	      <tr class="invisible" id="accessionNumberRow">
          <td><%=texts.accession_number%></td>
          <td id="accessionNumber"><%= input.accessionNumber %></td>
        </tr>
	<% } %>
        <tr>
          <td><%=texts.sequence_length%></td>
          <td id="seqLength"><%= input.sequence.length %> <%= texts.nucleotides %></td>
        </tr>
	<% if(input.accessionNumber) { %>
        <tr id="targetRegionRow">
          <td><%=texts.target_region%></td>
          <td id="targetRegion"><%= input.targetRegion %></td>
        </tr>
	<% } %>
        <tr>
          <td><%=texts.target_environment%></td>
          <td id="targetEnv"><%= input.targetEnv %></td>
        </tr>
	<% if(input.vivoEnv) { %>
        <tr id="vivoEnvRow" class="invisible">
          <td><%=texts.in_vivo_environment%></td>
          <td id="vivoEnv"><%= input.vivoEnv %></td>
        </tr>
	<% } %>
        <tr>
          <td><%=texts.temperature%></td>
          <td id="tempEnv"><%= input.tempEnv %> &deg;C</td>
        </tr>
        <tr>
          <td><%=texts.concentration_before%> Na&#8314; <%=texts.concentration_after%></td>
          <td id="naEnv"><%= input.naEnv %> mM</td>
        </tr>
        <tr>
          <td><%=texts.concentration_before%> Mg<sup>&#8314;2</sup> <%=texts.concentration_after%></td>
          <td id="mgEnv"><%= input.mgEnv %> mM</td>
        </tr>
        <tr>
          <td><%=texts.oligomer%></td>
          <td id="oligoEnv"><%= input.oligoEnv %> mM</td>
        </tr>
	      <tr>
          <td><%=texts.ribyzome_type%></td>
          <% ribozymeList.forEach(function(ribozyme, index) { %>
          <% var condition = false;
             if( input.ribozymeSelection.indexOf("-") == -1){
               condition = (input.ribozymeSelection == ribozyme['name']);
             } else {
               condition = (input.ribozymeSelection == ribozyme['name'] + '-' + ribozyme['type']);
             } %>
          <% if(condition) { %>
            <td><%= ribozyme['title'] %></td>
          <% }}); %>
        </tr>
	<% if(input.ribozymeSelection != 'crispr') { %>
        <tr>
          <td><%=texts.cut_sites%></td>
          <td id="cutsites"><%= input.cutsites %></td>
        </tr>
	      <tr>
          <td><%=texts.helix_I_length%></td>
          <td id="leftArm">[<%= input.left_arm_min %>, <%= input.left_arm_max %>]</td>
        </tr>
	      <tr>
          <td><%=texts.helix_III_length%></td>
          <td id="rightArm">[<%= input.right_arm_min %>, <%= input.right_arm_max %>]</td>
        </tr>
	<% } %>
        <tr>
          <td><%=texts.specificity%></td>
          <td id="specificity"><%= input.specificity %></td>
        </tr>
      </tbody>
    </table>
</div>
<h4><%=texts.design_results%></h4>
<input type='hidden' id='texts_annealing' value="<%= texts['annealing'] %>"/>
<% if(resultMessage) { %><p class="step-description"><%= texts[resultMessage] %></p><% } %>
<% if(results) { %>
  <script>
  var results = <%- JSON.stringify(results) %>;
  DecompressRequest(results);
  var container = results.CutsiteTypesCandidateContainer;

  var meltingTempHeader = "";
  var meltingTempList = null;
  for(var i = 0; i < container.length; i++){
    for(var j = 0; j < container[i].Cutsites.length; j++){
      for(var k = 0; k < container[i].Cutsites[j].Candidates.length; k++){
        if(container[i].Cutsites[j].Candidates[k].MeltingTemperatureList.length > 0){
          meltingTempList = container[i].Cutsites[j].Candidates[k].MeltingTemperatureList;
          break;
        }
      }
      if(meltingTempList != null && meltingTempList.length > 0) break;
    }
    if(meltingTempList != null && meltingTempList.length > 0) break;
  }
  for(var ii = 0; ii < meltingTempList.length; ii++){
    meltingTempHeader += "<th><%=texts.melting%> (&deg;C)</th> ";
  }

  var html ="<div class='step-contents center'>\
  <div id='selectDesignAlert' class='alert alert-danger invisible'></div>\
  <table class='table table-hover' id='results'>\
       <thead><th></th>\
           <th><%=texts.cut_site_number%><br/>( <%=texts.position%> )</th> " + meltingTempHeader + "\
           <th><%=texts.accessibility%> 1</th> \
           <th><%=texts.accessibility%> 2</th> \
           <th><%=texts.shape_quality_before%><br/><%=texts.ribozyme%><br/><%=texts.shape_quality%></th>";

           html += "<th id='specificity-col'><%=texts.weighted%><br/><%=texts.off_target_hits%></th>";
//           html += "<th id='rank-col'><p><%=texts.overall_rank%></p></th>";
           html += "</thead>";
       container.forEach(function(type, ind1) {
            type.Cutsites.forEach(function(cutsite,ind2) {
                 cutsite.Candidates.forEach(function(candidate,ind3) {
                  if(candidate.rank == 0) {
                    var meltingTemp = "";
                    for(var ii = 0; ii < candidate.MeltingTemperatureList.length; ii++){
                      meltingTemp += "<td class='melting_col'>" + candidate.MeltingTemperatureList[ii] + "</td>";
                    }
                    html +="<tr id='resultRow"+ind1+"-"+ind2+"-"+ind3+"'> \
                    <td class='checkBoxRow'><input style='width:auto;' type='checkbox' class='candidateSelection' value='"+ind1+"-"+ind2+"-"+ind3+"'></td>\
                    <td>" + cutsite.ID + " (" + cutsite.Location + ")</td>"
                    + meltingTemp + "\
                    <td>"+candidate.Fitness_Target+"</td> \
                    <td>"+candidate.Fitness_Target_dG+"</td> \
                    <td>"+candidate.Fitness_Shape+"</td>";
                    if(results.InVivoOrganism)
                      html+= "<td info='"+ind1+","+ind2+","+ind3+"' class='specificity-entry'>"+candidate.Fitness_Specificity+"</td>";
                    else
                      html+= "<td info='"+ind1+","+ind2+","+ind3+"' class='specificity-entry'>"+"N/A"+"</td>";
//                    html+= "<td>"+(candidate.rank+1).toString()+" </td>";
                    html+= "</tr>";
                  }
                })
            })
       })
    html += "</table>";
    $('.step-container').append(html);
  </script>
</div>
<div id='selectDesignAlert2' class='alert alert-danger invisible'></div>
<% } %>