<% include header %>
<div class="result_container">
<div class="row-fluid step-header span12">
      <div class="step-container">
        <h3 class="step-title"><%= texts[stepTitle] %></h3>
<h4><%=texts.design_summary%></h4><br/>
<div>
      <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th><%=texts.design_options%></th>
          <th><%=texts.value%></th>
        </tr>
      </thead>
      <tbody>
	<% if(input.accessionNumber) { %>
	<tr class="invisible" id="accessionNumberRow">
          <td><%=texts.accession_number%></td>
          <td id="accessionNumber"><%= input.accessionNumber %></td>
        </tr>
	<% } %>
        <tr>
          <td><%=texts.sequence_length%></td>
          <td id="seqLength"><%= input.sequence.length %> nucleotides</td>
        </tr>
        <tr id="targetRegionRow">
          <td><%=texts.target_region%></td>
          <td id="targetRegion"><%= input.targetRegion %></td>
        </tr>
        <tr>
          <td><%=texts.target_environment%></td>
          <td id="targetEnv"><%= input.targetEnv %></td>
        </tr>
	<% if(input.vivoEnv) { %>
        <tr id="vivoEnvRow" class="invisible">
          <td><%=texts.in_vivo_environment%></td>
          <td id="vivoEnv"><%= input.vivoEnv %></td>
        </tr>
	<% } %>
        <tr>
          <td><%=texts.temperature%></td>
          <td id="tempEnv"><%= input.tempEnv %> &deg;C</td>
        </tr>
        <tr>
          <td>Na&#8314; <%=texts.concentration%></td>
          <td id="naEnv"><%= input.naEnv %> mM</td>
        </tr>
        <tr>
          <td>Mg<sup>&#8314;2</sup> <%=texts.concentration%></td>
          <td id="mgEnv"><%= input.mgEnv %> mM</td>
        </tr>
        <tr>
          <td>Oligomer <%=texts.concentration%></td>
          <td id="oligoEnv"><%= input.oligoEnv %> mM</td>
        </tr>
	<% if(input.ribozymeSelection != 'crispr') { %>
        <tr>
          <td><%=texts.cut_sites%></td>
          <td id="cutsites"><%= input.cutsites %></td>
        </tr>
	<% } %>
	      <tr>
          <td><%=texts.ribyzome_type%></td>
          <% ribozymeList.forEach(function(ribozyme, index) { %>
          <% if(input.ribozymeSelection == ribozyme['name'] + '-' + ribozyme['type']) { %>
            <td><%= ribozyme['title'] %></td>
          <% }}); %>
        </tr>
	<% if(input.ribozymeSelection != 'crispr') { %>
	      <tr>
          <td><%=texts.helix_I_length%></td>
          <td id="leftArm">[<%= input.left_arm_min %>, <%= input.left_arm_max %>]</td>
        </tr>
	      <tr>
          <td><%=texts.helix_III_length%></td>
          <td id="rightArm">[<%= input.right_arm_min %>, <%= input.right_arm_max %>]</td>
        </tr>
	<% } %>
        <tr>
          <td><%=texts.specificity%></td>
          <td id="specificity"><%= input.specificity %></td>
        </tr>
      </tbody>
    </table>
</div>
<h4><%=texts.design_results%></h4>
<% if(resultMessage) { %><p class="step-description"><%= texts[resultMessage] %></p><% } %>
<% if(results) { %>
  <script>
  var results = <%- JSON.stringify(results) %>;
  DecompressRequest(results);
  var container = results.CutsiteTypesCandidateContainer;
  var core  =  results.coreTypeId == 0? "CUGAUGAGGCCGAAAGGCCGAA" : "CUGAUGAGUCGCUGAAAUGCGACGAA";

  var meltingTempHeader = "";
  var meltingTempList = null;
  for(var i = 0; i < container.length; i++){
    for(var j = 0; j < container[i].Cutsites.length; j++){
      for(var k = 0; k < container[i].Cutsites[j].Candidates.length; k++){
        if(container[i].Cutsites[j].Candidates[k].MeltingTemperatureList.length > 0){
          meltingTempList = container[i].Cutsites[j].Candidates[k].MeltingTemperatureList;
          break;
        }
      }
      if(meltingTempList != null && meltingTempList.length > 0) break;
    }
    if(meltingTempList != null && meltingTempList.length > 0) break;
  }
  for(var ii = 0; ii < meltingTempList.length; ii++){
    meltingTempHeader += "<th><p><%=texts.melting_temperature%> (&deg;C)</p></th> ";
  }

  var html ="<div class='step-contents center'>\
  <table class='table table-hover' id='results'>\
       <thead>\
           <th><p><%=texts.cut_site_number%></p></th>\
           <th><p><%=texts.sequence%></p></th> " + meltingTempHeader + "\
           <th><p><%=texts.accessibility%> 1</p></th> \
           <th><p><%=texts.accessibility%> 2</p></th> \
           <th><p><%=texts.ribozyme_shape_quality%></p></th>";

           html += "<th id='specificity-col'><p><%=texts.off_target_hits%></p></th>";
           html += "<th id='rank-col'><p><%=texts.overall_rank%></p></th></thead>";
       container.forEach(function(type, ind1) {
            type.Cutsites.forEach(function(cutsite,ind2) {
                 cutsite.Candidates.forEach(function(candidate,ind3) {
                   var meltingTemp = "";
                   for(var ii = 0; ii < candidate.MeltingTemperatureList.length; ii++){
                     meltingTemp += "<td class='melting_col'>" + candidate.MeltingTemperatureList[ii] + "</td>";
                   }
                  html +="<tr> \
                  <td>"+cutsite.ID+"</td> \
                  <td class='sequence_col'>"
                  // + candidate.Sequence.substr (0, candidate.Sequence.indexOf(core))
                  // + "<emp class ='core-highlight'>" + candidate.Sequence.substr (candidate.Sequence.indexOf(core), core.length) + "</emp>"
                  // + candidate.Sequence.substr (candidate.Sequence.indexOf(core) + core.length )
                  + candidate.Sequence
                  +"</td> " + meltingTemp + "\
                  <td>"+candidate.Fitness_Target+"</td> \
                  <td>"+candidate.Fitness_Target_dG+"</td> \
                  <td>"+candidate.Fitness_Shape+"</td>";
                  if(results.InVivoOrganism)
                    html+= "<td info='"+ind1+","+ind2+","+ind3+"' class='specificity-entry'>"+candidate.Fitness_Specificity+"</td>";
                  else
                    html+= "<td info='"+ind1+","+ind2+","+ind3+"' class='specificity-entry'>"+"N/A"+"</td>";
                  html+= "<td>"+(candidate.rank+1).toString()+" </td></tr>";
                })
            })
       })
    html += "</table>";
    $('.step-container').append(html);
  </script>
  <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><%=texts.candidate_description%></h4>
	</div>
	<div class="modal-body" id="modal-body">
	  <div class="candidate-details">
	    <h5>Sequence</h5><p id="sequence"></p>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%=texts.close%></button>
          <a id="download-link" class="btn btn-primary" download="sequence.txt" href="data:text/plain"><%=texts.download_sequence%></a>
	</div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="offtargetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel"><%=texts.off_target%></h4>
	</div>
	<div class="modal-body" id="modal-body">
	  <div>
	    <p id="print"></p>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%=texts.close%></button>
	</div>
      </div>
    </div>
  </div>
</div>
<% } %>

      </div>
</div>
</div>
<% include footer %>
